.dropdown-directive ul {
  max-height: 200px;
  overflow: auto;
  padding: 0;
}
.dropdown-directive li {
  width: 100%;
}
.dropdown-directive .dropdown-menu > li > a {
  padding-right: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-directive li.S {
  background-color: lightgreen;
}
.dropdown-directive li.A {
  background-color: lightgray;
}
.dropdown-directive li.X,
.dropdown-directive li.XS {
  background-color: darkgray;
}
