<div id="app-view" class="container">
    
    <!-- Search directive example -->
    <div style="margin-top: 30px;">
        <div>Search example</div>
        <search fields="['Cases Open/Closed', 'Priority', 'Case Owner', 'Case Record Type', 'Case Owner Group']" context="CurrentSelections"></search>
    </div>
    
    <!-- Dropdown filter example -->
    <div style="margin-top: 30px;">
        <div>Dropdown filter example</div>
        <dropdown field="Cases Open/Closed" toggle="true" width="300"></dropdown>
        <dropdown field="Priority" toggle="true" width="300"></dropdown>
        <dropdown field="Case Owner" name="IT Resources" toggle="true" width="300"></dropdown>
        <dropdown field="Case Record Type" name="Request Type" toggle="true" width="300"></dropdown>
        <dropdown field="Case Owner Group" name="Department" toggle="true" width="300"></dropdown>
    </div>

    <!-- Sense object example -->
    <div style="margin-top: 30px">
        <div>Sense object example</div>
        <sense-object id="a5e0f12c-38f5-4da9-8f3f-0e4566b28398" height="300"></sense-object>
    </div>

</div>